 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }

 .containers {
     width: 100%;
     height: 100%;
     background-color: #fff !important;
 }

 .containers h3 {
     height: 30px;
     line-height: 44px;
     padding-left: 10px;
 }


 .container-basic {
     width: 60%;
     padding-left: 10px;
     line-height: 50px;
 }

 .container-basic h2 {
     border-left: 7px solid #3E50B4;
     padding-left: 8px;
 }

 .container-basic label {
     text-align: center;
     display: inline-block;
     width: 100px;
 }

 .container-basic button {
     width: 100px;
     height: 35px;
     line-height: 27px;
     outline-color: none;
     border-radius: 18px;
     float: left;
     margin-left: 200px;
 }

 .form-control {
     display: inline-block !important;
     width: 200px !important;
 }